.left,
.right {
    display: flex;
    flex-direction: column;
}

.site {
    display: flex;
}
* {
    font-family: Garamond;
    text-align: center;
}

.left {
    width: 72%;
}

header {
    background-color: #795548;
    font-size: 170%;
}
main {
    height: 400px;
}

.right>* {
    background-color: #BCAAA4;
    color: #795548;
    height: 600px;
    width: 200px;
}