.left,
.right {
    display: flex;
    flex-direction: column;
}

.site {
    display: flex;
}
* {
    font-family: Garamond;
    text-align: center;
}

.left {
    width: 72%;
}

header {
    background-color: #795548;
    font-size: 170%;
}